!.vscode/extensions.json
!.vscode/settings.json
*.heapdump
*.local
*.local.*
*.log*
*.tsbuildinfo
.DS_Store
Thumbs.db
bugreport-*.zip

.env
.claude/progress/
.idea/
.vscode/*
api/.env.local
api/dist/
api/node_modules/
coverage/
dist/
node_modules/
