@font-face {
  font-family: 'Inter';
  src: url('./inter-regular.ttf?inline') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./inter-medium.ttf?inline') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./inter-semibold.ttf?inline') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./inter-bold.ttf?inline') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('./gotham-rounded-bold.otf?inline') format('opentype');
  font-weight: 700;
  font-style: normal;
}
