.background {
  position: fixed;
  top: -60vw;
  left: -14.27vw;
  width: 200vw;
  height: 200vw;
  background: radial-gradient(
    71.43% 62.3% at 46.43% 36.43%,
    rgba(18, 229, 229, 0) 15%,
    rgba(239, 155, 255, 0.3) 56.35%,
    #ff6448 100%
  );
  border-radius: 50%;
  box-shadow: 0px 12.93px 28.74px 0px #ffd28db2 inset;
  transform: rotate(15.25deg);
}

.screen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

text {
  color: var(--color-text);
}

.banner {
  z-index: 100;
  display: flex;
  flex: 5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

@keyframes slide-from-right {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

.slide-from-right {
  animation: slide-from-right 0.3s ease-out;
}

.slide-from-left {
  animation: slide-from-left 0.3s ease-out;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 24px;
  height: 24px;
}

.description {
  margin: 15rpx;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.hint {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.65);
}

.spacer {
  flex: 1;
}
