.root {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.item {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 12px;
}

.icon {
  color: var(--gray-400);
  font-size: 20px;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.value {
  color: var(--gray-900);
  font-size: 18px;
  font-weight: var(--font-weight-semibold);
}

.label {
  color: var(--gray-400);
  font-size: 14px;
}
