.container {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
  align-items: center;
  padding: var(--space-sm) var(--space-lg);
  background-color: var(--color-bg-secondary);
  border-radius: var(--radius-full);
}

.address {
  flex: 1;
  font-size: var(--font-size-body-sm);
  color: var(--color-text);
}
