.root {
  align-items: center;
  background-color: var(--gray-50);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px 16px;
}

.input {
  color: var(--gray-900);
  flex: 1;
  font-size: 14px;
}
