.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.banner {
  background-color: var(--tomato);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  min-height: 180px;
  padding: 16px;
  position: relative;
}

.logo-placeholder {
  width: 40px;
}

.logo {
  align-items: center;
  background-color: var(--white);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  display: flex;
  height: 40px;
  justify-content: center;
  left: 16px;
  padding: 6px;
  position: absolute;
  top: 100px;
  transform: rotate(-90deg);
  transform-origin: top left;
  width: 100px;
}

.promo {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  justify-content: center;
  padding-left: 16px;
}

.promo-text {
  color: var(--white);
  font-family: 'Gotham Rounded';
  font-size: 20px;
  font-weight: var(--font-weight-bold);
}

.order-button {
  align-items: center;
  align-self: flex-start;
  background-color: var(--white);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  justify-content: center;
  padding: 8px 16px;

  &-text {
    color: var(--tomato);
    font-family: 'Gotham Rounded';
    font-size: 14px;
  }
}

.promo-image {
  height: 132px;
  width: 115px;
}

.details {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 0 4px;
}

.brand-name {
  color: var(--tomato);
  flex: 1;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}
