.root {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-around;
}

.tab-icon {
  color: var(--gray-400);
  flex: 1;
  font-size: 20px;
  height: 100%;
  line-height: 60px;
  text-align: center;
  width: 100%;

  &-is-active {
    color: var(--gray-900);
  }
}

.action-button {
  background-color: var(--coral);
  border: 3px solid var(--white);
  border-radius: var(--radius-full);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: var(--white);
  font-size: 24px;
  height: 70px;
  line-height: 65px;
  margin-bottom: 40px;
  text-align: center;
  width: 70px;
}
