.logo-react {
  width: 100px;
  height: 100px;
  animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
}

.subtitle {
  margin-bottom: 8px;
  font-size: 22px;
  font-style: italic;
  font-weight: 600;
}
