.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.zone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.title {
  flex: 1;
  font-size: var(--font-size-subheading);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text);
  text-align: center;
}
