.root {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.input-wrapper {
  align-items: center;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.03);
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 42px;
  padding: 0 14px;
}

.input {
  color: var(--gray-900);
  flex: 1;
  font-size: 14px;
}

.search-icon {
  color: var(--gray-800);
  font-size: 12px;
}

.filter-button {
  align-items: center;
  background-color: var(--tomato);
  border-radius: 12px;
  display: flex;
  height: 42px;
  justify-content: center;
  width: 42px;
}

.filter-icon {
  color: var(--white);
  font-size: 16px;
}
